In [1]:
import pathlib
import sys

sys.path.append(pathlib.Path("..", "..").resolve().__str__())
sys.path

['C:\\Users\\JLpyt\\AppData\\Local\\Programs\\Python\\Python311\\python311.zip',
 'C:\\Users\\JLpyt\\AppData\\Local\\Programs\\Python\\Python311\\DLLs',
 'C:\\Users\\JLpyt\\AppData\\Local\\Programs\\Python\\Python311\\Lib',
 'C:\\Users\\JLpyt\\AppData\\Local\\Programs\\Python\\Python311',
 'C:\\Users\\JLpyt\\.virtualenvs\\sports-reference-luEwXDjZ',
 '',
 'C:\\Users\\JLpyt\\.virtualenvs\\sports-reference-luEwXDjZ\\Lib\\site-packages',
 'C:\\Users\\JLpyt\\.virtualenvs\\sports-reference-luEwXDjZ\\Lib\\site-packages\\win32',
 'C:\\Users\\JLpyt\\.virtualenvs\\sports-reference-luEwXDjZ\\Lib\\site-packages\\win32\\lib',
 'C:\\Users\\JLpyt\\.virtualenvs\\sports-reference-luEwXDjZ\\Lib\\site-packages\\Pythonwin',
 'C:\\Users\\JLpyt\\OneDrive\\Desktop\\sports-reference']

# `cbb.postseason`

In [2]:
from sports_reference.cbb import postseason

## `cbb.postseason._tournament`

### `_tournament.Tournament`

In [3]:
tournament = postseason.MensTournament(2024)
tournament

MensTournament(year=2024, regions=('east', 'midwest', 'south', 'west'))

In [4]:
tournament.address

'https://www.sports-reference.com/cbb/postseason/men/2024-ncaa.html'

In [5]:
tournament.brackets

{'east': Bracket(region=east, nrounds=4),
 'midwest': Bracket(region=midwest, nrounds=4),
 'south': Bracket(region=south, nrounds=4),
 'west': Bracket(region=west, nrounds=4)}

In [6]:
tournament.dataframe()

     year region  nround  game  seed              name points winner
0    2024   east       1     0     1             UConn     91   True
1    2024   east       1     0    16           Stetson     52  False
2    2024   east       1     1     8  Florida Atlantic     65  False
3    2024   east       1     1     9      Northwestern     77   True
4    2024   east       1     2     5   San Diego State     69   True
..    ...    ...     ...   ...   ...               ...    ...    ...
115  2024   west       3     0     4           Alabama   None  False
116  2024   west       3     1     6           Clemson   None  False
117  2024   west       3     1     2           Arizona   None  False
118  2024   west       4     0  None              None   None   None
119  2024   west       4     0  None              None   None   None

[120 rows x 8 columns]

### `_tournament.Bracket`

In [7]:
bracket = tournament.east
bracket

Bracket(region=east, nrounds=4)

In [8]:
bracket.rounds

{1: Round(nround=1, ngames=8),
 2: Round(nround=2, ngames=4),
 3: Round(nround=3, ngames=2),
 4: Round(nround=4, ngames=1)}

In [9]:
bracket.games()

{1: [Game(teams=(Team(seed=1, name=UConn, points=91), Team(seed=16, name=Stetson, points=52)), winner=Team(seed=1, name=UConn, points=91)),
  Game(teams=(Team(seed=8, name=Florida Atlantic, points=65), Team(seed=9, name=Northwestern, points=77)), winner=Team(seed=9, name=Northwestern, points=77)),
  Game(teams=(Team(seed=5, name=San Diego State, points=69), Team(seed=12, name=UAB, points=65)), winner=Team(seed=5, name=San Diego State, points=69)),
  Game(teams=(Team(seed=4, name=Auburn, points=76), Team(seed=13, name=Yale, points=78)), winner=Team(seed=13, name=Yale, points=78)),
  Game(teams=(Team(seed=6, name=BYU, points=67), Team(seed=11, name=Duquesne, points=71)), winner=Team(seed=11, name=Duquesne, points=71)),
  Game(teams=(Team(seed=3, name=Illinois, points=85), Team(seed=14, name=Morehead State, points=69)), winner=Team(seed=3, name=Illinois, points=85)),
  Game(teams=(Team(seed=7, name=Washington State, points=66), Team(seed=10, name=Drake, points=61)), winner=Team(seed=7, name=Washington State, points=66)),
  Game(teams=(Team(seed=2, name=Iowa State, points=82), Team(seed=15, name=South Dakota State, points=65)), winner=Team(seed=2, name=Iowa State, points=82))],
 2: [Game(teams=(Team(seed=1, name=UConn, points=75), Team(seed=9, name=Northwestern, points=58)), winner=Team(seed=1, name=UConn, points=75)),
  Game(teams=(Team(seed=5, name=San Diego State, points=85), Team(seed=13, name=Yale, points=57)), winner=Team(seed=5, name=San Diego State, points=85)),
  Game(teams=(Team(seed=11, name=Duquesne, points=63), Team(seed=3, name=Illinois, points=89)), winner=Team(seed=3, name=Illinois, points=89)),
  Game(teams=(Team(seed=7, name=Washington State, points=56), Team(seed=2, name=Iowa State, points=67)), winner=Team(seed=2, name=Iowa State, points=67))],
 3: [Game(teams=(Team(seed=1, name=UConn, points=None), Team(seed=5, name=San Diego State, points=None)), winner=None),
  Game(teams=(Team(seed=3, name=Illinois, points=None), Team(seed=2, name=Iowa State, points=None)), winner=None)],
 4: [Game(teams=(None, None), winner=None)]}

In [10]:
bracket.teams()

{1: [Team(seed=1, name=UConn, points=91),
  Team(seed=16, name=Stetson, points=52),
  Team(seed=8, name=Florida Atlantic, points=65),
  Team(seed=9, name=Northwestern, points=77),
  Team(seed=5, name=San Diego State, points=69),
  Team(seed=12, name=UAB, points=65),
  Team(seed=4, name=Auburn, points=76),
  Team(seed=13, name=Yale, points=78),
  Team(seed=6, name=BYU, points=67),
  Team(seed=11, name=Duquesne, points=71),
  Team(seed=3, name=Illinois, points=85),
  Team(seed=14, name=Morehead State, points=69),
  Team(seed=7, name=Washington State, points=66),
  Team(seed=10, name=Drake, points=61),
  Team(seed=2, name=Iowa State, points=82),
  Team(seed=15, name=South Dakota State, points=65)],
 2: [Team(seed=1, name=UConn, points=75),
  Team(seed=9, name=Northwestern, points=58),
  Team(seed=5, name=San Diego State, points=85),
  Team(seed=13, name=Yale, points=57),
  Team(seed=11, name=Duquesne, points=63),
  Team(seed=3, name=Illinois, points=89),
  Team(seed=7, name=Washington State, points=56),
  Team(seed=2, name=Iowa State, points=67)],
 3: [Team(seed=1, name=UConn, points=None),
  Team(seed=5, name=San Diego State, points=None),
  Team(seed=3, name=Illinois, points=None),
  Team(seed=2, name=Iowa State, points=None)],
 4: [None, None]}

In [11]:
bracket.dataframe()

   region  nround  game  seed                name points winner
0    east       1     0     1               UConn     91   True
1    east       1     0    16             Stetson     52  False
2    east       1     1     8    Florida Atlantic     65  False
3    east       1     1     9        Northwestern     77   True
4    east       1     2     5     San Diego State     69   True
5    east       1     2    12                 UAB     65  False
6    east       1     3     4              Auburn     76  False
7    east       1     3    13                Yale     78   True
8    east       1     4     6                 BYU     67  False
9    east       1     4    11            Duquesne     71   True
10   east       1     5     3            Illinois     85   True
11   east       1     5    14      Morehead State     69  False
12   east       1     6     7    Washington State     66   True
13   east       1     6    10               Drake     61  False
14   east       1     7     2          Iowa State     82   True
15   east       1     7    15  South Dakota State     65  False
16   east       2     0     1               UConn     75   True
17   east       2     0     9        Northwestern     58  False
18   east       2     1     5     San Diego State     85   True
19   east       2     1    13                Yale     57  False
20   east       2     2    11            Duquesne     63  False
21   east       2     2     3            Illinois     89   True
22   east       2     3     7    Washington State     56  False
23   east       2     3     2          Iowa State     67   True
24   east       3     0     1               UConn   None  False
25   east       3     0     5     San Diego State   None  False
26   east       3     1     3            Illinois   None  False
27   east       3     1     2          Iowa State   None  False
28   east       4     0  None                None   None   None
29   east       4     0  None                None   None   None

### `_tournament.Round`

In [12]:
round = bracket.rounds.get(1)
round

Round(nround=1, ngames=8)

In [13]:
round.games

[Game(teams=(Team(seed=1, name=UConn, points=91), Team(seed=16, name=Stetson, points=52)), winner=Team(seed=1, name=UConn, points=91)),
 Game(teams=(Team(seed=8, name=Florida Atlantic, points=65), Team(seed=9, name=Northwestern, points=77)), winner=Team(seed=9, name=Northwestern, points=77)),
 Game(teams=(Team(seed=5, name=San Diego State, points=69), Team(seed=12, name=UAB, points=65)), winner=Team(seed=5, name=San Diego State, points=69)),
 Game(teams=(Team(seed=4, name=Auburn, points=76), Team(seed=13, name=Yale, points=78)), winner=Team(seed=13, name=Yale, points=78)),
 Game(teams=(Team(seed=6, name=BYU, points=67), Team(seed=11, name=Duquesne, points=71)), winner=Team(seed=11, name=Duquesne, points=71)),
 Game(teams=(Team(seed=3, name=Illinois, points=85), Team(seed=14, name=Morehead State, points=69)), winner=Team(seed=3, name=Illinois, points=85)),
 Game(teams=(Team(seed=7, name=Washington State, points=66), Team(seed=10, name=Drake, points=61)), winner=Team(seed=7, name=Washington State, points=66)),
 Game(teams=(Team(seed=2, name=Iowa State, points=82), Team(seed=15, name=South Dakota State, points=65)), winner=Team(seed=2, name=Iowa State, points=82))]

In [14]:
round.dataframe()

    nround  game  seed                name  points  winner
0        1     0     1               UConn      91    True
1        1     0    16             Stetson      52   False
2        1     1     8    Florida Atlantic      65   False
3        1     1     9        Northwestern      77    True
4        1     2     5     San Diego State      69    True
5        1     2    12                 UAB      65   False
6        1     3     4              Auburn      76   False
7        1     3    13                Yale      78    True
8        1     4     6                 BYU      67   False
9        1     4    11            Duquesne      71    True
10       1     5     3            Illinois      85    True
11       1     5    14      Morehead State      69   False
12       1     6     7    Washington State      66    True
13       1     6    10               Drake      61   False
14       1     7     2          Iowa State      82    True
15       1     7    15  South Dakota State      65   False

### `_tournament.Game`

In [15]:
game = round.games[0]
game

Game(teams=(Team(seed=1, name=UConn, points=91), Team(seed=16, name=Stetson, points=52)), winner=Team(seed=1, name=UConn, points=91))

In [16]:
game.winner

Team(seed=1, name=UConn, points=91)

In [17]:
game.location

('Brooklyn', 'NY')

In [18]:
game.boxscore

'/cbb/boxscores/2024-03-22-14-connecticut.html'

In [19]:
game.score

{Team(seed=1, name=UConn, points=91): 91,
 Team(seed=16, name=Stetson, points=52): 52}

In [20]:
game.dataframe()

   seed     name  points  winner
0     1    UConn      91    True
1    16  Stetson      52   False

### `_tournament.Team`

In [21]:
team = game.winner
team

Team(seed=1, name=UConn, points=91)

In [22]:
team.href

'/cbb/schools/connecticut/men/2024.html'

In [23]:
team.boxscore

'/cbb/boxscores/2024-03-22-14-connecticut.html'

In [24]:
team.winner

True

In [25]:
team.series()

seed          1
name      UConn
points       91
winner     True
dtype: object