In [1]:
import pathlib
import sys

sys.path.append(pathlib.Path("..", "..").resolve().__str__())
sys.path

['C:\\Users\\JLpyt\\AppData\\Local\\Programs\\Python\\Python311\\python311.zip',
 'C:\\Users\\JLpyt\\AppData\\Local\\Programs\\Python\\Python311\\DLLs',
 'C:\\Users\\JLpyt\\AppData\\Local\\Programs\\Python\\Python311\\Lib',
 'C:\\Users\\JLpyt\\AppData\\Local\\Programs\\Python\\Python311',
 'C:\\Users\\JLpyt\\.virtualenvs\\sports-reference-luEwXDjZ',
 '',
 'C:\\Users\\JLpyt\\.virtualenvs\\sports-reference-luEwXDjZ\\Lib\\site-packages',
 'C:\\Users\\JLpyt\\.virtualenvs\\sports-reference-luEwXDjZ\\Lib\\site-packages\\win32',
 'C:\\Users\\JLpyt\\.virtualenvs\\sports-reference-luEwXDjZ\\Lib\\site-packages\\win32\\lib',
 'C:\\Users\\JLpyt\\.virtualenvs\\sports-reference-luEwXDjZ\\Lib\\site-packages\\Pythonwin',
 'C:\\Users\\JLpyt\\OneDrive\\Desktop\\sports-reference']

# `cbb.postseason`

In [2]:
from sports_reference.cbb import postseason

## `cbb.postseason._tournament`

### `_tournament.Tournament`

In [3]:
tournament = postseason.MensTournament(2024)
tournament

MensTournament(year=2024, regions=('east', 'midwest', 'south', 'west'))

In [4]:
tournament.address

'https://www.sports-reference.com/cbb/postseason/men/2024-ncaa.html'

In [5]:
tournament.brackets

{'east': Bracket(region=east, nrounds=5),
 'midwest': Bracket(region=midwest, nrounds=5),
 'south': Bracket(region=south, nrounds=5),
 'west': Bracket(region=west, nrounds=5)}

In [6]:
tournament.dataframe()

,year,region,nround,game,seed,name,href,points,boxscore,winner
0,2024,east,1,0,1.0,UConn,/cbb/schools/connecticut/men/2024.html,91,/cbb/boxscores/2024-03-22-14-connecticut.html,True
1,2024,east,1,0,16.0,Stetson,/cbb/schools/stetson/men/2024.html,52,/cbb/boxscores/2024-03-22-14-connecticut.html,False
2,2024,east,1,1,8.0,Florida Atlantic,/cbb/schools/florida-atlantic/men/2024.html,65,/cbb/boxscores/2024-03-22-12-florida-atlantic....,False
3,2024,east,1,1,9.0,Northwestern,/cbb/schools/northwestern/men/2024.html,77,/cbb/boxscores/2024-03-22-12-florida-atlantic....,True
4,2024,east,1,2,5.0,San Diego State,/cbb/schools/san-diego-state/men/2024.html,69,/cbb/boxscores/2024-03-22-13-san-diego-state.html,True
...,...,...,...,...,...,...,...,...,...,...
119,2024,west,3,1,6.0,Clemson,/cbb/schools/clemson/men/2024.html,None,None,False
120,2024,west,3,1,2.0,Arizona,/cbb/schools/arizona/men/2024.html,None,None,False
121,2024,west,4,0,NaN,,,NaN,,False
122,2024,west,4,0,NaN,,,NaN,,False
123,2024,west,5,0,NaN,,,NaN,,False

### `_tournament.Bracket`

In [7]:
bracket = tournament.east
bracket

Bracket(region=east, nrounds=5)

In [8]:
bracket.rounds

{1: Round(nround=1, ngames=8),
 2: Round(nround=2, ngames=4),
 3: Round(nround=3, ngames=2),
 4: Round(nround=4, ngames=1),
 5: Round(nround=5, ngames=1)}

In [9]:
bracket.games()

{1: [Game(teams=(Team(seed=1, name=UConn, points=91), Team(seed=16, name=Stetson, points=52)), winner=Team(seed=1, name=UConn, points=91)),
  Game(teams=(Team(seed=8, name=Florida Atlantic, points=65), Team(seed=9, name=Northwestern, points=77)), winner=Team(seed=9, name=Northwestern, points=77)),
  Game(teams=(Team(seed=5, name=San Diego State, points=69), Team(seed=12, name=UAB, points=65)), winner=Team(seed=5, name=San Diego State, points=69)),
  Game(teams=(Team(seed=4, name=Auburn, points=76), Team(seed=13, name=Yale, points=78)), winner=Team(seed=13, name=Yale, points=78)),
  Game(teams=(Team(seed=6, name=BYU, points=67), Team(seed=11, name=Duquesne, points=71)), winner=Team(seed=11, name=Duquesne, points=71)),
  Game(teams=(Team(seed=3, name=Illinois, points=85), Team(seed=14, name=Morehead State, points=69)), winner=Team(seed=3, name=Illinois, points=85)),
  Game(teams=(Team(seed=7, name=Washington State, points=66), Team(seed=10, name=Drake, points=61)), winner=Team(seed=7, name=Washington State, points=66)),
  Game(teams=(Team(seed=2, name=Iowa State, points=82), Team(seed=15, name=South Dakota State, points=65)), winner=Team(seed=2, name=Iowa State, points=82))],
 2: [Game(teams=(Team(seed=1, name=UConn, points=75), Team(seed=9, name=Northwestern, points=58)), winner=Team(seed=1, name=UConn, points=75)),
  Game(teams=(Team(seed=5, name=San Diego State, points=85), Team(seed=13, name=Yale, points=57)), winner=Team(seed=5, name=San Diego State, points=85)),
  Game(teams=(Team(seed=11, name=Duquesne, points=63), Team(seed=3, name=Illinois, points=89)), winner=Team(seed=3, name=Illinois, points=89)),
  Game(teams=(Team(seed=7, name=Washington State, points=56), Team(seed=2, name=Iowa State, points=67)), winner=Team(seed=2, name=Iowa State, points=67))],
 3: [Game(teams=(Team(seed=1, name=UConn, points=None), Team(seed=5, name=San Diego State, points=None)), winner=None),
  Game(teams=(Team(seed=3, name=Illinois, points=None), Team(seed=2, name=Iowa State, points=None)), winner=None)],
 4: [Game(teams=(Team(seed=None, name=None, points=None), Team(seed=None, name=None, points=None)), winner=None)],
 5: [Game(teams=(Team(seed=None, name=None, points=None), None), winner=None)]}

In [10]:
bracket.teams()

{1: [Team(seed=1, name=UConn, points=91),
  Team(seed=16, name=Stetson, points=52),
  Team(seed=8, name=Florida Atlantic, points=65),
  Team(seed=9, name=Northwestern, points=77),
  Team(seed=5, name=San Diego State, points=69),
  Team(seed=12, name=UAB, points=65),
  Team(seed=4, name=Auburn, points=76),
  Team(seed=13, name=Yale, points=78),
  Team(seed=6, name=BYU, points=67),
  Team(seed=11, name=Duquesne, points=71),
  Team(seed=3, name=Illinois, points=85),
  Team(seed=14, name=Morehead State, points=69),
  Team(seed=7, name=Washington State, points=66),
  Team(seed=10, name=Drake, points=61),
  Team(seed=2, name=Iowa State, points=82),
  Team(seed=15, name=South Dakota State, points=65)],
 2: [Team(seed=1, name=UConn, points=75),
  Team(seed=9, name=Northwestern, points=58),
  Team(seed=5, name=San Diego State, points=85),
  Team(seed=13, name=Yale, points=57),
  Team(seed=11, name=Duquesne, points=63),
  Team(seed=3, name=Illinois, points=89),
  Team(seed=7, name=Washington State, points=56),
  Team(seed=2, name=Iowa State, points=67)],
 3: [Team(seed=1, name=UConn, points=None),
  Team(seed=5, name=San Diego State, points=None),
  Team(seed=3, name=Illinois, points=None),
  Team(seed=2, name=Iowa State, points=None)],
 4: [Team(seed=None, name=None, points=None),
  Team(seed=None, name=None, points=None)],
 5: [Team(seed=None, name=None, points=None), None]}

In [11]:
bracket.dataframe()

,region,nround,game,seed,name,href,points,boxscore,winner
0,east,1,0,1.0,UConn,/cbb/schools/connecticut/men/2024.html,91,/cbb/boxscores/2024-03-22-14-connecticut.html,True
1,east,1,0,16.0,Stetson,/cbb/schools/stetson/men/2024.html,52,/cbb/boxscores/2024-03-22-14-connecticut.html,False
2,east,1,1,8.0,Florida Atlantic,/cbb/schools/florida-atlantic/men/2024.html,65,/cbb/boxscores/2024-03-22-12-florida-atlantic....,False
3,east,1,1,9.0,Northwestern,/cbb/schools/northwestern/men/2024.html,77,/cbb/boxscores/2024-03-22-12-florida-atlantic....,True
4,east,1,2,5.0,San Diego State,/cbb/schools/san-diego-state/men/2024.html,69,/cbb/boxscores/2024-03-22-13-san-diego-state.html,True
5,east,1,2,12.0,UAB,/cbb/schools/alabama-birmingham/men/2024.html,65,/cbb/boxscores/2024-03-22-13-san-diego-state.html,False
6,east,1,3,4.0,Auburn,/cbb/schools/auburn/men/2024.html,76,/cbb/boxscores/2024-03-22-16-auburn.html,False
7,east,1,3,13.0,Yale,/cbb/schools/yale/men/2024.html,78,/cbb/boxscores/2024-03-22-16-auburn.html,True
8,east,1,4,6.0,BYU,/cbb/schools/brigham-young/men/2024.html,67,/cbb/boxscores/2024-03-21-12-brigham-young.html,False
9,east,1,4,11.0,Duquesne,/cbb/schools/duquesne/men/2024.html,71,/cbb/boxscores/2024-03-21-12-brigham-young.html,True
10,east,1,5,3.0,Illinois,/cbb/schools/illinois/men/2024.html,85,/cbb/boxscores/2024-03-21-15-illinois.html,True
11,east,1,5,14.0,Morehead State,/cbb/schools/morehead-state/men/2024.html,69,/cbb/boxscores/2024-03-21-15-illinois.html,False
12,east,1,6,7.0,Washington State,/cbb/schools/washington-state/men/2024.html,66,/cbb/boxscores/2024-03-21-22-washington-state....,True
13,east,1,6,10.0,Drake,/cbb/schools/drake/men/2024.html,61,/cbb/boxscores/2024-03-21-22-washington-state....,False
14,east,1,7,2.0,Iowa State,/cbb/schools/iowa-state/men/2024.html,82,/cbb/boxscores/2024-03-21-19-iowa-state.html,True
15,east,1,7,15.0,South Dakota State,/cbb/schools/south-dakota-state/men/2024.html,65,/cbb/boxscores/2024-03-21-19-iowa-state.html,False
16,east,2,0,1.0,UConn,/cbb/schools/connecticut/men/2024.html,75,/cbb/boxscores/2024-03-24-19-connecticut.html,True
17,east,2,0,9.0,Northwestern,/cbb/schools/northwestern/men/2024.html,58,/cbb/boxscores/2024-03-24-19-connecticut.html,False
18,east,2,1,5.0,San Diego State,/cbb/schools/san-diego-state/men/2024.html,85,/cbb/boxscores/2024-03-24-21-san-diego-state.html,True
19,east,2,1,13.0,Yale,/cbb/schools/yale/men/2024.html,57,/cbb/boxscores/2024-03-24-21-san-diego-state.html,False
20,east,2,2,11.0,Duquesne,/cbb/schools/duquesne/men/2024.html,63,/cbb/boxscores/2024-03-23-20-illinois.html,False
21,east,2,2,3.0,Illinois,/cbb/schools/illinois/men/2024.html,89,/cbb/boxscores/2024-03-23-20-illinois.html,True
22,east,2,3,7.0,Washington State,/cbb/schools/washington-state/men/2024.html,56,/cbb/boxscores/2024-03-23-18-iowa-state.html,False
23,east,2,3,2.0,Iowa State,/cbb/schools/iowa-state/men/2024.html,67,/cbb/boxscores/2024-03-23-18-iowa-state.html,True
24,east,3,0,1.0,UConn,/cbb/schools/connecticut/men/2024.html,None,None,False
25,east,3,0,5.0,San Diego State,/cbb/schools/san-diego-state/men/2024.html,None,None,False
26,east,3,1,3.0,Illinois,/cbb/schools/illinois/men/2024.html,None,None,False
27,east,3,1,2.0,Iowa State,/cbb/schools/iowa-state/men/2024.html,None,None,False
28,east,4,0,NaN,,,NaN,,False
29,east,4,0,NaN,,,NaN,,False
30,east,5,0,NaN,,,NaN,,False

In [12]:
tree = bracket.binary_tree()
print(tree.to_string(ascending=False))

(1) UConn [91]
			(1) UConn [75]
(16) Stetson [52]
						(1) UConn [None]
(8) Florida Atlantic [65]
			(9) Northwestern [58]
(9) Northwestern [77]
									(None) None [None]
(5) San Diego State [69]
			(5) San Diego State [85]
(12) UAB [65]
						(5) San Diego State [None]
(4) Auburn [76]
			(13) Yale [57]
(13) Yale [78]
												(None) None [None]
(6) BYU [67]
			(11) Duquesne [63]
(11) Duquesne [71]
						(3) Illinois [None]
(3) Illinois [85]
			(3) Illinois [89]
(14) Morehead State [69]
									(None) None [None]
(7) Washington State [66]
			(7) Washington State [56]
(10) Drake [61]
						(2) Iowa State [None]
(2) Iowa State [82]
			(2) Iowa State [67]
(15) South Dakota State [65]

### `_tournament.Round`

In [13]:
round = bracket.rounds.get(1)
round

Round(nround=1, ngames=8)

In [14]:
round.games

[Game(teams=(Team(seed=1, name=UConn, points=91), Team(seed=16, name=Stetson, points=52)), winner=Team(seed=1, name=UConn, points=91)),
 Game(teams=(Team(seed=8, name=Florida Atlantic, points=65), Team(seed=9, name=Northwestern, points=77)), winner=Team(seed=9, name=Northwestern, points=77)),
 Game(teams=(Team(seed=5, name=San Diego State, points=69), Team(seed=12, name=UAB, points=65)), winner=Team(seed=5, name=San Diego State, points=69)),
 Game(teams=(Team(seed=4, name=Auburn, points=76), Team(seed=13, name=Yale, points=78)), winner=Team(seed=13, name=Yale, points=78)),
 Game(teams=(Team(seed=6, name=BYU, points=67), Team(seed=11, name=Duquesne, points=71)), winner=Team(seed=11, name=Duquesne, points=71)),
 Game(teams=(Team(seed=3, name=Illinois, points=85), Team(seed=14, name=Morehead State, points=69)), winner=Team(seed=3, name=Illinois, points=85)),
 Game(teams=(Team(seed=7, name=Washington State, points=66), Team(seed=10, name=Drake, points=61)), winner=Team(seed=7, name=Washington State, points=66)),
 Game(teams=(Team(seed=2, name=Iowa State, points=82), Team(seed=15, name=South Dakota State, points=65)), winner=Team(seed=2, name=Iowa State, points=82))]

In [15]:
round.dataframe()

,nround,game,seed,name,href,points,boxscore,winner
0,1,0,1,UConn,/cbb/schools/connecticut/men/2024.html,91,/cbb/boxscores/2024-03-22-14-connecticut.html,True
1,1,0,16,Stetson,/cbb/schools/stetson/men/2024.html,52,/cbb/boxscores/2024-03-22-14-connecticut.html,False
2,1,1,8,Florida Atlantic,/cbb/schools/florida-atlantic/men/2024.html,65,/cbb/boxscores/2024-03-22-12-florida-atlantic....,False
3,1,1,9,Northwestern,/cbb/schools/northwestern/men/2024.html,77,/cbb/boxscores/2024-03-22-12-florida-atlantic....,True
4,1,2,5,San Diego State,/cbb/schools/san-diego-state/men/2024.html,69,/cbb/boxscores/2024-03-22-13-san-diego-state.html,True
5,1,2,12,UAB,/cbb/schools/alabama-birmingham/men/2024.html,65,/cbb/boxscores/2024-03-22-13-san-diego-state.html,False
6,1,3,4,Auburn,/cbb/schools/auburn/men/2024.html,76,/cbb/boxscores/2024-03-22-16-auburn.html,False
7,1,3,13,Yale,/cbb/schools/yale/men/2024.html,78,/cbb/boxscores/2024-03-22-16-auburn.html,True
8,1,4,6,BYU,/cbb/schools/brigham-young/men/2024.html,67,/cbb/boxscores/2024-03-21-12-brigham-young.html,False
9,1,4,11,Duquesne,/cbb/schools/duquesne/men/2024.html,71,/cbb/boxscores/2024-03-21-12-brigham-young.html,True
10,1,5,3,Illinois,/cbb/schools/illinois/men/2024.html,85,/cbb/boxscores/2024-03-21-15-illinois.html,True
11,1,5,14,Morehead State,/cbb/schools/morehead-state/men/2024.html,69,/cbb/boxscores/2024-03-21-15-illinois.html,False
12,1,6,7,Washington State,/cbb/schools/washington-state/men/2024.html,66,/cbb/boxscores/2024-03-21-22-washington-state....,True
13,1,6,10,Drake,/cbb/schools/drake/men/2024.html,61,/cbb/boxscores/2024-03-21-22-washington-state....,False
14,1,7,2,Iowa State,/cbb/schools/iowa-state/men/2024.html,82,/cbb/boxscores/2024-03-21-19-iowa-state.html,True
15,1,7,15,South Dakota State,/cbb/schools/south-dakota-state/men/2024.html,65,/cbb/boxscores/2024-03-21-19-iowa-state.html,False

### `_tournament.Game`

In [16]:
game = round.games[0]
game

Game(teams=(Team(seed=1, name=UConn, points=91), Team(seed=16, name=Stetson, points=52)), winner=Team(seed=1, name=UConn, points=91))

In [17]:
game.winner

Team(seed=1, name=UConn, points=91)

In [18]:
game.location

('Brooklyn', 'NY')

In [19]:
game.boxscore

'/cbb/boxscores/2024-03-22-14-connecticut.html'

In [20]:
game.score

{Team(seed=1, name=UConn, points=91): 91,
 Team(seed=16, name=Stetson, points=52): 52}

In [21]:
game.dataframe()

,seed,name,href,points,boxscore,winner
0,1,UConn,/cbb/schools/connecticut/men/2024.html,91,/cbb/boxscores/2024-03-22-14-connecticut.html,True
1,16,Stetson,/cbb/schools/stetson/men/2024.html,52,/cbb/boxscores/2024-03-22-14-connecticut.html,False

### `_tournament.Team`

In [22]:
team = game.winner
team

Team(seed=1, name=UConn, points=91)

In [23]:
team.href

'/cbb/schools/connecticut/men/2024.html'

In [24]:
team.boxscore

'/cbb/boxscores/2024-03-22-14-connecticut.html'

In [25]:
team.winner

True

In [26]:
team.series()

seed                                                    1
name                                                UConn
href               /cbb/schools/connecticut/men/2024.html
points                                                 91
boxscore    /cbb/boxscores/2024-03-22-14-connecticut.html
winner                                               True
dtype: object

## `cbb.postseason._tournament_history`

In [27]:
history = postseason.NCAATournamentHistory()

In [28]:
history.mens

,Year,NCAA Tournament,NCAA Tournament [href],NCAA Champion,NCAA Champion [href],NCAA MOP,NCAA MOP [href],NIT,NIT Champion,NIT Champion [href],NIT MVP,NIT MVP [href]
0,2024,2024 NCAA,/cbb/postseason/men/2024-ncaa.html,NaN,,NaN,,2024 NIT,NaN,,NaN,
1,2023,2023 NCAA,/cbb/postseason/men/2023-ncaa.html,UConn,/cbb/schools/connecticut/men/2023.html,Adama Sanogo,/cbb/players/adama-sanogo-1.html,2023 NIT,North Texas,/cbb/schools/north-texas/men/2023.html,Tylor Perry,/cbb/players/tylor-perry-1.html
2,2022,2022 NCAA,/cbb/postseason/men/2022-ncaa.html,Kansas,/cbb/schools/kansas/men/2022.html,Ochai Agbaji,/cbb/players/ochai-agbaji-1.html,2022 NIT,Xavier,/cbb/schools/xavier/men/2022.html,Colby Jones,/cbb/players/colby-jones-1.html
3,2021,2021 NCAA,/cbb/postseason/men/2021-ncaa.html,Baylor,/cbb/schools/baylor/men/2021.html,Jared Butler,/cbb/players/jared-butler-1.html,2021 NIT,Memphis,/cbb/schools/memphis/men/2021.html,Landers Nolley II,/cbb/players/landers-nolleyii-1.html
4,2019,2019 NCAA,/cbb/postseason/men/2019-ncaa.html,Virginia,/cbb/schools/virginia/men/2019.html,Kyle Guy,/cbb/players/kyle-guy-1.html,2019 NIT,Texas,/cbb/schools/texas/men/2019.html,Dylan Osetkowski,/cbb/players/dylan-osetkowski-1.html
...,...,...,...,...,...,...,...,...,...,...,...,...
81,1942,1942 NCAA,/cbb/postseason/men/1942-ncaa.html,Stanford,/cbb/schools/stanford/men/1942.html,Howard Dallmar,,1942 NIT,West Virginia,/cbb/schools/west-virginia/men/1942.html,Rudy Baric,
82,1941,1941 NCAA,/cbb/postseason/men/1941-ncaa.html,Wisconsin,/cbb/schools/wisconsin/men/1941.html,John Kotz,,1941 NIT,LIU,/cbb/schools/long-island-university/men/1941.html,Frank Baumholtz,
83,1940,1940 NCAA,/cbb/postseason/men/1940-ncaa.html,Indiana,/cbb/schools/indiana/men/1940.html,Marvin Huffman,,1940 NIT,Colorado,/cbb/schools/colorado/men/1940.html,Bob Doll,
84,1939,1939 NCAA,/cbb/postseason/men/1939-ncaa.html,Oregon,/cbb/schools/oregon/men/1939.html,Jimmy Hull,,1939 NIT,LIU,/cbb/schools/long-island-university/men/1939.html,Bill Lloyd,
85,<NA>,NaN,,NaN,,NaN,,1938 NIT,Temple,/cbb/schools/temple/men/1938.html,Don Shields,

In [29]:
history.womens

,Year,NCAA Tournament,NCAA Tournament [href],NCAA Champion,NCAA Champion [href],NCAA MOP,NCAA MOP [href]
0,2024,2024 NCAA,/cbb/postseason/women/2024-ncaa.html,NaN,,NaN,
1,2023,2023 NCAA,/cbb/postseason/women/2023-ncaa.html,LSU,/cbb/schools/louisiana-state/women/2023.html,Angel Reese,/cbb/players/angel-reese-1.html
2,2022,2022 NCAA,/cbb/postseason/women/2022-ncaa.html,South Carolina,/cbb/schools/south-carolina/women/2022.html,Aliyah Boston,/cbb/players/aliyah-boston-1.html
3,2021,2021 NCAA,/cbb/postseason/women/2021-ncaa.html,Stanford,/cbb/schools/stanford/women/2021.html,Haley Jones,/cbb/players/haley-jones-2.html
4,2019,2019 NCAA,/cbb/postseason/women/2019-ncaa.html,Baylor,/cbb/schools/baylor/women/2019.html,Chloe Jackson,/cbb/players/chloe-jackson-1.html
5,2018,2018 NCAA,/cbb/postseason/women/2018-ncaa.html,Notre Dame,/cbb/schools/notre-dame/women/2018.html,Arike Ogunbowale,/cbb/players/arike-ogunbowale-1.html
6,2017,2017 NCAA,/cbb/postseason/women/2017-ncaa.html,South Carolina,/cbb/schools/south-carolina/women/2017.html,A'ja Wilson,/cbb/players/aja-wilson-1.html
7,2016,2016 NCAA,/cbb/postseason/women/2016-ncaa.html,UConn,/cbb/schools/connecticut/women/2016.html,Breanna Stewart,/cbb/players/breanna-stewart-1.html
8,2015,2015 NCAA,/cbb/postseason/women/2015-ncaa.html,UConn,/cbb/schools/connecticut/women/2015.html,Breanna Stewart,/cbb/players/breanna-stewart-1.html
9,2014,2014 NCAA,/cbb/postseason/women/2014-ncaa.html,UConn,/cbb/schools/connecticut/women/2014.html,Breanna Stewart,/cbb/players/breanna-stewart-1.html
10,2013,2013 NCAA,/cbb/postseason/women/2013-ncaa.html,UConn,/cbb/schools/connecticut/women/2013.html,Breanna Stewart,/cbb/players/breanna-stewart-1.html
11,2012,2012 NCAA,/cbb/postseason/women/2012-ncaa.html,Baylor,/cbb/schools/baylor/women/2012.html,Brittney Griner,/cbb/players/brittney-griner-1.html
12,2011,2011 NCAA,/cbb/postseason/women/2011-ncaa.html,Texas A&M,/cbb/schools/texas-am/women/2011.html,Danielle Adams,/cbb/players/danielle-adams-1.html
13,2010,2010 NCAA,/cbb/postseason/women/2010-ncaa.html,UConn,/cbb/schools/connecticut/women/2010.html,Maya Moore,/cbb/players/maya-moore-1.html
14,2009,2009 NCAA,/cbb/postseason/women/2009-ncaa.html,UConn,/cbb/schools/connecticut/women/2009.html,Tina Charles,/cbb/players/tina-charles-1.html
15,2008,2008 NCAA,/cbb/postseason/women/2008-ncaa.html,Tennessee,/cbb/schools/tennessee/women/2008.html,Candace Parker,/cbb/players/candace-parker-1.html
16,2007,2007 NCAA,/cbb/postseason/women/2007-ncaa.html,Tennessee,/cbb/schools/tennessee/women/2007.html,Candace Parker,/cbb/players/candace-parker-1.html
17,2006,2006 NCAA,/cbb/postseason/women/2006-ncaa.html,Maryland,/cbb/schools/maryland/women/2006.html,Laura Harper,/cbb/players/laura-harper-1.html
18,2005,2005 NCAA,/cbb/postseason/women/2005-ncaa.html,Baylor,/cbb/schools/baylor/women/2005.html,Sophia Young,/cbb/players/sophia-young-1.html
19,2004,2004 NCAA,/cbb/postseason/women/2004-ncaa.html,UConn,/cbb/schools/connecticut/women/2004.html,Diana Taurasi,/cbb/players/diana-taurasi-1.html
20,2003,2003 NCAA,/cbb/postseason/women/2003-ncaa.html,UConn,/cbb/schools/connecticut/women/2003.html,Diana Taurasi,/cbb/players/diana-taurasi-1.html
21,2002,2002 NCAA,/cbb/postseason/women/2002-ncaa.html,UConn,/cbb/schools/connecticut/women/2002.html,Swin Cash,/cbb/players/swin-cash-1.html
22,2001,2001 NCAA,/cbb/postseason/women/2001-ncaa.html,Notre Dame,,Ruth Riley,
23,2000,2000 NCAA,/cbb/postseason/women/2000-ncaa.html,UConn,,Shea Ralph,
24,1999,1999 NCAA,/cbb/postseason/women/1999-ncaa.html,Purdue,,Ukari Figgs,
25,1998,1998 NCAA,/cbb/postseason/women/1998-ncaa.html,Tennessee,,Chamique Holdsclaw,
26,1997,1997 NCAA,/cbb/postseason/women/1997-ncaa.html,Tennessee,,Chamique Holdsclaw,
27,1996,1996 NCAA,/cbb/postseason/women/1996-ncaa.html,Tennessee,,Michelle Marciniak,
28,1995,1995 NCAA,/cbb/postseason/women/1995-ncaa.html,UConn,,Rebecca Lobo,
29,1994,1994 NCAA,/cbb/postseason/women/1994-ncaa.html,UNC,,Charlotte Smith,
30,1993,1993 NCAA,/cbb/postseason/women/1993-ncaa.html,Texas Tech,,Sheryl Swoopes,
31,1992,1992 NCAA,/cbb/postseason/women/1992-ncaa.html,Stanford,,Molly Goodenbour,
32,1991,1991 NCAA,/cbb/postseason/women/1991-ncaa.html,Tennessee,,Dawn Staley,
33,1990,1990 NCAA,/cbb/postseason/women/1990-ncaa.html,Stanford,,Jennifer Azzi,
34,1989,1989 NCAA,/cbb/postseason/women/1989-ncaa.html,Tennessee,,Bridgette Gordon,
35,1988,1988 NCAA,/cbb/postseason/women/1988-ncaa.html,Louisiana Tech,,Erica Westbrooks,
36,1987,1987 NCAA,/cbb/postseason/women/1987-ncaa.html,Tennessee,,Tonya Edwards,
37,1986,1986 NCAA,/cbb/postseason/women/1986-ncaa.html,Texas,,Clarissa Davis,
38,1985,1985 NCAA,/cbb/postseason/women/1985-ncaa.html,Old Dominion,,Tracy Claxton,
39,1984,1984 NCAA,/cbb/postseason/women/1984-ncaa.html,USC,,Cheryl Miller,
40,1983,1983 NCAA,/cbb/postseason/women/1983-ncaa.html,USC,,Cheryl Miller,
41,1982,1982 NCAA,/cbb/postseason/women/1982-ncaa.html,Louisiana Tech,,Janice Lawrence,